.article-preview {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
    & > * {
        flex: 1 1 50%;
    }
    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }
    .article-preview-img {
    }
    .article-preview-text {
        background: #F9F1E0;
        padding: 3.5157% 5.8594% 3.125%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        h1, h2, h3 {
            margin: 0 0 10px;
        }
        h6 {
            color: #7D7D7D;
            text-transform: uppercase;
        }
        p {
            margin-top: 30px;

        }
        a {
            display: flex;
            align-items: center;
            img {
                margin-left: 5px;
            }
        }
    }
}